@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p>Game  <b>v1.11.14</b> - RogueDex <b>v1.0</b></p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
