@page "/"

<PageTitle>Home</PageTitle>

<h3>Rogue Dex Web Checklist</h3>
<p>This is an automatically populating checklist that reads your save file and shows you everything you have unlocked so far.</p>
<p>It also hides anything thats not currently available (this data is constantly updated as new things get added to the game).</p>
<p>The Candy Checklists will tell you exactly which pokemon still have unlocks available and even candy to buy an egg.</p>
<p>On top of that you can also view everything about the current Daily Run. And of course, it will compare your save file with the entire Daily Run and show you every encounter that has something to unlock for you, even SHINIES!</p>
