@page "/upload"
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Upload File</PageTitle>

<InputFile OnChange="LoadFiles" lang="en-gb" accept=".prsv" />

<div class="mb-3">
    <label style="color:red">@ErrorMessage</label>
</div>
<div class="mb-3">
    <label>@InfoMessage</label>
</div>

<script>
    function DecryptFile(data) {
        var decr = CryptoJS.AES.decrypt(data, "x0i2O7WRiANTqPmZ");
        return decr.toString(CryptoJS.enc.Utf8);
    }
</script>

@code {
    [Inject] ILocalStorageHelper LocalStorage { get; set; }

    private readonly string key = "x0i2O7WRiANTqPmZ";

    public string ErrorMessage = string.Empty;
    public string InfoMessage = string.Empty;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        InfoMessage = "Loading...";
        ErrorMessage = string.Empty;

        try
        {
            var encryptedString = string.Empty;
            using (var memoryStream = new MemoryStream())
            {
                await e.File.OpenReadStream().CopyToAsync(memoryStream);
                encryptedString = Encoding.UTF8.GetString(memoryStream.ToArray());
            }

            var json = await JS.InvokeAsync<string>("DecryptFile", encryptedString);
            var saveData = JsonSerializer.Deserialize<SaveFile>(json);
            if (saveData is null || saveData.SecretId == 0)
            {
                ErrorMessage = "Save File not correct, data could not be loaded";
                return;
            }

            var sheetPokemon = await Http.GetFromJsonAsync<List<SheetPokemon>>("data/data.POKEMON.json");
            if (sheetPokemon is null)
            {
                ErrorMessage = "Could not load static pokemon data.";
                return;
            }

            var fullDexList = new List<FullDexData>();
            foreach (var dexNr in saveData.DexData.Keys.Order())
            {
                var dexData = saveData.DexData[dexNr];

                var sheetData = sheetPokemon.FirstOrDefault(p => p.DexNr == dexNr);
                if (sheetData is null)
                {
                    ErrorMessage = $"Could not find static pokemon data for {dexNr}";
                    return;
                }

                var starterSheetData = sheetPokemon.FirstOrDefault(p => p.DexNr == sheetData.StarterDexNr);
                if (starterSheetData is null || !saveData.StarterData.TryGetValue(starterSheetData.DexNr, out var starterData))
                {
                    ErrorMessage = $"Could not find static starter pokemon data for {dexNr}";
                    return;
                }

                var species = new Species(sheetData, starterSheetData);
                var fullDexData = new FullDexData(dexData, starterData, species);
                fullDexList.Add(fullDexData);
            }

            saveData.DexData = new();
            saveData.StarterData = new();
            await LocalStorage.SetItem<SaveFile>("savedata", saveData);
            await LocalStorage.SetItem<List<FullDexData>>("fulldexdata", fullDexList);

            InfoMessage = $"Save File imported correctly. Game Version: {saveData.GameVersion}";
        }
        catch (Exception ex)
        {
            InfoMessage = string.Empty;
            ErrorMessage = $"Unexpected error occurred: {ex.Message}";
            Console.WriteLine(ex);
        }

        return;
    }
}
